<div class="cell box m-0">
  <div class="is-flex is-justify-content-space-between mb-1">
    <%= tag.h3 group.capitalize, class: "title is-5 my-auto"%>
    <%= link_to "Add", new_finance_account_path(group: group), class: "button is-small my-auto" %>
  </div>

  <ul class="pl-4" style="list-style-type: disc;">
    <% accounts.each do |account| %>
      <%= tag.li account.name + " – " + account.sum.to_s + " " + account.currency,
        data: {
          action: "click->finance#toggleSourceAccount contextmenu->finance#toggleDestinationAccount auxclick->finance#editAccount"
        },
        id: "account_#{account.id}",
        class: "is-clickable is-unselectable"
      %>
    <% end %>
  </ul>
</div>
