<%= turbo_frame_tag "content" do %>
  <div class="container p-4 my-4 is-max-tablet">
    <div class="is-flex is-justify-content-space-between">
      <%= tag.h1 "Edit book", class: "title is-3" %>
      <%= button_to "Delete", @book, method: :delete, class: "button is-small my-2", data: { turbo_confirm: "Delection is irreversible. \nContinue?"}%>
    </div>
    <%= render "form" %>
  </div>
<% end %>

